[Desktop Entry]
Encoding=UTF-8
Name=Link to batch_L23.py
Type=Link
URL=https://github.com/guitar79/Seadas_python/blob/master/batch_L23.py
Icon=text-html
